$color: #fff;
$bgc: #3F2AFF;
$fz: 18px;
$lh: 1.16;

.nav {
  color: $color;
  background-color: $bgc;

  &__list {
    align-items: center;
  }

  &__link,
  &__item {
    font-size: $fz;
    line-height: $lh;
    color: inherit;
  }
}

.logo-icon {
  fill: $color;
}
