@charset "UTF-8";

@mixin rombus($size:100px) {
	width: $size;
	height: $size;
	display: inline-block;
	clip-path:
		polygon(
			0 50%,
			50% 0,
			50% 0,
			100% 50%,
			100% 50%,
			50% 100%,
			50% 100%,
			0 50%
	);
}
