mixin plate(name, description, duration, link, img)
  .course
    .course__image.picture
      +image(img.folder, img.filename, img.extension, img.title, img.alt)
      .course__time.time
        +svg('time__icon','clock')
        span.time__text #{duration} часов
    .course__text
      h3.course__header #{name}
      p.course__description #{description}
    a(class='course__link button' href!= link.href title!= link.title) #{link.name}
